
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family:sans-serif;
	outline:none; 
	border:none;
	text-decoration:none;
	transition: .2s linear;
}
html{
	font-size: 62.5%;
	scroll-behavior: smooth;
	scroll-padding-top: 6rem;
    overflow-x: hidden;
}
section{
	padding: 2rem 9%;

}
/* .heading{
	text-align:center;
	font-size:4rem;
	color:#333;
	padding:1rem;
	margin:2rem;
	space:0;
	background:rgba(255,51,153,0.05);
} */

.btn{
	display: inline-block;
	
	border-radius: 5rem;
	background:#2f2455;
	color: #fff;
	padding: .9rem 3.5rem;
	cursor: pointer;
	font-size: 1.7rem;
	border: 1px solid var(--grad-clr1);
}
.btn:hover{
	background: #FFF;
	color: var(--grad-clr1);
}
header{
    position: fixed;
	top: 0; left: 0; right:0;
	background:#fff;
	padding: 2rem 9%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 1000;
	box-shadow: 0.5rem lrem rgba(0,0,0,0.1);
}
	header .logo{
		font-size: 3rem;
		color: #333;
		font-weight:bolder;
	}
	header .logo span{
		color:var(--pink);
	}
	header  .navbar a{
		font-size: 2rem;
		padding: 0 1.5rem;
		color:#21687c;
	}
	header  .navbar a:hover{
		color: var(--pink);
	}
	header  .icons a{
		font-size: 3rem;
		color: #333;
		margin-left: 1.5rem;
	}
	
	header  .icons a:hover{
		color:var(--pink);
	}
	header #toggler{
		display: none;
	}
	header   .fa-bars{
		font-size: 3rem;
		color: #333;
		border-radius: .5rem;
		padding: .5rem 1.5rem;
		cursor: pointer;
		border: .1rem solid rgba(0,0,0,0.3);
		display: none;
	}
	.home .content{
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: justify;
		margin-left:400px;
		flex-direction: column;
		margin-top: 100px;
	}
	
	
	.home {
			display: flex;
			align-items: center;
			min-height: 100vh;
			background: url('p1.jpg') no-repeat;
			background-size: cover;
			background-position: center;
		}	
		.home  .content{
		max-width: 50rem;
	}
	.home .content h3{
		font-size: 5rem;
		color:#21687c;
	}
	
	.home  .content p{
		font-size: 2rem;
		color:#21687c;
		margin-bottom: -.5px;
		line-height: 1.5;
	}
	.heading{
		text-align: center;
		font-size: 4rem;
		color: #333;
		padding:2rem;
		margin:2rem 0;
		background: rgba(25, 155, 236, 0.05);
	}
	.about .row{
		display:flex;
		align-items:center;
		gap:2rem;
		flex-wrap:wrap;
		padding:2rem 0;
		padding-bottom:3rem;
	}

	.about .row .video-container{
		flex:1 1 40rem;
		position: relative;
		
	}
	.about .row  .video-container img{
		width:100%;
		border:1.5rem solid #fff;
		border-radius: 1rem;
		box-shadow: 0.5rem 1rem rgba(0,0,0,0.1);
		height: 100%;
		object-fit: cover;
		float:left;
		
	}	
	.about .row .content{
		flex: 1 1 40rem;
		float:right;
		width:20%;	
	}
	.about .row .content h3{
		font-size: 3rem;
		color:#333;
	}
	.about .row .content p{
		font-size: 1.6rem;
		color: #21687c;
		
		margin-bottom: -15px;
		line-height: 1.5;	
		text-align: justify;
		text-indent:4rem;
		margin-left: 55px;
	}
	
	.icons-container{
		background:#eee;
		display:flex;
		flex-wrap:wrap;
		gap:1.5rem;
		padding-top:5rem;
		padding-bottom:5rem;
	}

	.icons-container .icons{
		background:#fff;
		border:1rem solid rgba(0,0,0,0.1);
		padding:2rem;
		display:flex;
		align-items:center;
		flex:1 1 25rem;
	}
	
	
	.icons-container .icons img{
		height:5rem;
		margin-right:2rem;
	}
		
	.icons-container.icons h3{
		color:#333;
		padding-bottom:0.5rem;
		font-size:1.5rem;
	}
	
	
		.icons-container .icons span{
		color:#555;
		font-size:1.3rem;
	}
	:root{
		--linear-grad:linear-gradient(to right,#1f4550,#234e7f);
		--grad-clr1:#21687c;
		--grad-clr2:#2f2455;
	}	
	.container{
		margin-left: 200px;
		margin-top: 35px;
		position:relative;
		width: 900px;
		height: 600px;
		background-color: #FFF;
		box-shadow: 25px 30px 55px #5557;
		border-radius: 13px;
		overflow: hidden;
	
	}
	.form-container{
		position: absolute;
		width: 60%;
		height: 100%;
		padding: 0px 40px;
		transition: all 0.6s ease-in-out;
	
	}
	.sign-up-container{
		opacity: 0;
		z-index: 1;
	}
	.sign-in-container{
		z-index: 2;
	}
	
	form{
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 0px 50px;
	
	}
	.sign {
		font-size: 4em;
		color: var(--grad-clr1);
		margin-bottom: 30px;
	}
	.social-container{
		margin: 20px 0px;
	
	}
	.social-container a{
		border: 1px solid #DDD;
		border-radius: 50%;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		margin:0px 5px;
		height: 40px;
		width: 40px;
	}
	span{
		font-size: 12px;
	}
	.infield{
		position: relative;
		margin: 8px 0px;
		width: 100%;
	
	}
	input{
		width: 100%;
		padding: 12px 8px;
		background-color: #f3f3f3;
		border: none;
		outline: none;
	}
	label{
		position: absolute;
		left:50%;
		top:100%;
		transform: translateX(-50%);
		width: 0%;
		height: 2px;
		background: var(--linear-grad);
		transition: 0.3s;
	}
	input:focus ~ label{
		width: 100%;
	}
	a{
		color: #333;
		font-size: 14px;
		text-decoration: none;
		margin: 15px 0px;
	}
	a.forgot{
		padding-bottom: 3px;
		border-bottom: 2px solid #EEE;
	
	}
	button{
		border-radius: 20px;
		border: 1px solid var(--grad-clr1);
		background: var(--grad-clr2);
		color: #FFF;
		font-size: 12px;
		font-weight: bold;
		padding: 12px 45px;
		letter-spacing: 1px;
		text-transform: uppercase;
	
	}
	.form-container button{
		margin-top: 17px;
		transition: 80ms ease-in;
	}
	.form-container button:hover{
		background: #FFF;
		color: var(--grad-clr1);
	}
	.overlay-container{
		position: absolute;
		top: 0;
		left:60%;
		width: 40%;
		height: 100%;
		overflow: hidden;
		transition: transform 0.6s ease-in-out;
		z-index:9 ;
	}
	#overlayBtn{
	cursor: pointer;
	position: absolute;
	left: 50%;
	top: 304px;
	transform: translateX(-50%);
	width: 143.67px;
	height: 40px;
	border: 1px solid #FFF;
	background: transparent;
	border-radius: 20px;
	margin-top: 35px;
	}
	.overlay{
		position: relative;
		background: var(--linear-grad);
		color: #FFF;
		left: -150%;
		height: 100%;
		width: 250%;
		transition:transform 0.6s ease-in-out;
	
	}
	.overlay-panel{
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0px 40px;
	text-align: center;
	height: 100%;
	width: 340px;
	transition: 0.6s ease-in-out;
	
	}
	.overlay-left{
		right: 60%;
		transform: translateX(-12%);
	
	}
	.overlay-right{
		right: 0;
		transform: translateX(0%);
	}
	.overlay-panel h1{
		color: #FFF;
	
	}
	p{
		font-size: 14px;
		font-weight: 300;
		line-height: 20px;
		letter-spacing: 0.5px;
		margin: 25px 0px 35px;
	
	}
	.overlay-panel button{
		border: none;
		background-color: transparent;
	}
	.right-panel-active .overlay-container{
		transform: translateX(-150%);
	}
	.right-panel-active .overlay{
		transform: translateX(50%);
	}
	.right-panel-active .overlay-left{
		transform: translateX(25%);
	}
	.right-panel-active .overlay-right{
		transform: translateX(35%);
	}
	.right-panel-active .sign-in-container{
		transform: translateX(20%);
		opacity: 0;
	}
	.right-panel-active .sign-up-container{
		transform: translateX(66.7%);
		opacity: 1;
		z-index: 5;
		animation: show 0.6s;
	}
	@keyframes show {
		0%,50%{
			opacity: 0;
			z-index: 1;
	
		}
		50.1%,100%{
			opacity: 1;
			z-index: 5;
		}
		
	}
	.btnScaled{
		animation: scaleBtn 0.6s;
	}
	@keyframes scaleBtn{
		0%{
			width: 143.67px;
		}
		50%{
			width: 250px;
		}
	   100%{
			width: 143.67px;
		}
	
	}
	
	@media(max-width:991px){
		html{
			font-size: 55%;
		}
		header{
			padding: 2rem;
		}
		section{
			padding: 2rem;
		}
		.home{
			background-position: left;
		}
	}
		

	@media(max-width:768px){
		html .fa-bars{
			display: block;
		}
		header .navbar{
			position: absolute;
			top: 100%; left: 0; right: 0;
			background: #eee;
			border-top: .1rem solid rgba(0,0,0,0.1);
			clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
		}
		
		header #toggler:checked ~ .navbar{
			clip-path: polygon(0 0, 100% 0, 100%  100%, 0% 100%);
		}
		header .navbar a{
			margin: 1.5rem;
			padding: 1.5rem;
			background: #fff;
			border: .1rem solid rgba(0,0,0, 0.1);
			display: block;
			
		}
		.home .content h3{
			font-size: 5rem;
		}
		.home .content span{
			font-size: 2.5rem;
		}	
			
	}
	
	.icons-container .icons h3{
		
		font-size:2rem;
		
	}
	
	
		.icons-container .icons span{
		
		font-size:1.7rem;
	}
	
	@media(max-width:450px){
		html{
			font-size: 50%;
		}		
		}
	#contact .con-info{
		flex-direction: column;
		display: flex;
		justify-content: center;
		height: 400px;
		
	}
	.con-info{
		width: 30%;
		display: flex;
		flex-direction: column;
		
	  }
	  .box{
		 position: relative;
		 display:flex;
		 padding: 0;
	 
	  }
	  .icon{
		 height: 45px;
		 width: 40px;
		 background-color: aliceblue;
		 color: #333;
		 justify-content: center;
		 display: flex;
		 align-items: center;
		 border-radius: 30%;
		 margin-right: 10px;
		 margin-top: -30px;
	  }
	  .icon i{
		 font-size: 20px;
	  }
	  .text h3{
		 color:#1daac0d3;
		font-size: 15px;
		margin-top: -20px;
		margin-bottom:10px ;
	  }
	  .text p{
		 color:#21687c;
		 padding-top: 0;
		 margin-top: 6px;
		 font-size: 16px;
		 margin-bottom: 70px;

	  }
	  #contact .row{
		display:flex;
		align-items:center;
		gap:1rem;
		flex-wrap:wrap;
		padding:2rem 0;
		padding-bottom:3rem;
	  }
	  #contact .row .content{
		margin-left: 100px;
	  }
	#contact{
		height: 100%;
	}