<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>elearning</display-name>
  <welcome-file-list>
    <welcome-file>HomePage.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminServlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>controller.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>blankServlet</display-name>
    <servlet-name>blankServlet</servlet-name>
    <servlet-class>controller.blankServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>blankServlet</servlet-name>
    <url-pattern>/blankServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>choiceServlet</display-name>
    <servlet-name>choiceServlet</servlet-name>
    <servlet-class>controller.choiceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>choiceServlet</servlet-name>
    <url-pattern>/choiceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>levelServlet</display-name>
    <servlet-name>levelServlet</servlet-name>
    <servlet-class>controller.levelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>levelServlet</servlet-name>
    <url-pattern>/levelServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>controller.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginServlet</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>controller.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>controller.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>outdataServlet</display-name>
    <servlet-name>outdataServlet</servlet-name>
    <servlet-class>controller.outdataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>outdataServlet</servlet-name>
    <url-pattern>/outdataServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>readingServlet</display-name>
    <servlet-name>readingServlet</servlet-name>
    <servlet-class>controller.readingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>readingServlet</servlet-name>
    <url-pattern>/readingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>controller.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>truefalseServlet</display-name>
    <servlet-name>truefalseServlet</servlet-name>
    <servlet-class>controller.truefalseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>truefalseServlet</servlet-name>
    <url-pattern>/truefalseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChoiceEditServlet</display-name>
    <servlet-name>ChoiceEditServlet</servlet-name>
    <servlet-class>controller.ChoiceEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChoiceEditServlet</servlet-name>
    <url-pattern>/ChoiceEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TrueFalseEditServlet</display-name>
    <servlet-name>TrueFalseEditServlet</servlet-name>
    <servlet-class>controller.TrueFalseEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrueFalseEditServlet</servlet-name>
    <url-pattern>/TrueFalseEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BlankEditServlet</display-name>
    <servlet-name>BlankEditServlet</servlet-name>
    <servlet-class>controller.BlankEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BlankEditServlet</servlet-name>
    <url-pattern>/BlankEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>leveltestServlet</display-name>
    <servlet-name>leveltestServlet</servlet-name>
    <servlet-class>controller.leveltestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>leveltestServlet</servlet-name>
    <url-pattern>/leveltestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>leveltest</display-name>
    <servlet-name>leveltest</servlet-name>
    <servlet-class>controller.leveltest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>leveltest</servlet-name>
    <url-pattern>/leveltest</url-pattern>
  </servlet-mapping>
</web-app>